In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\Prakhar\\Desktop\\new.csv")

In [3]:
df.head()

,Unnamed: 0,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,Female,Male,Chicago,Houston,Los Angeles,Miami,New York
0,0,63,17,73.36,236,0,0,1,0.0,0.0,1.0,0.0,0.0
1,1,62,1,48.76,172,0,1,0,0.0,0.0,0.0,0.0,1.0
2,2,24,5,85.47,460,0,1,0,0.0,0.0,1.0,0.0,0.0
3,3,36,3,97.94,297,1,1,0,0.0,0.0,0.0,1.0,0.0
4,4,46,19,58.14,266,0,1,0,0.0,0.0,0.0,1.0,0.0

In [5]:
x=df.drop("Churn",axis=1)

In [6]:
y=df["Churn"]

In [7]:
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
my_list=list(x)
my_list

['Unnamed: 0',
 'Age',
 'Subscription_Length_Months',
 'Monthly_Bill',
 'Total_Usage_GB',
 'Female',
 'Male',
 'Chicago',
 'Houston',
 'Los Angeles',
 'Miami',
 'New York']

In [10]:
scaler = StandardScaler()
x_scaled=pd.DataFrame(scaler.fit_transform(x),columns=my_list)
x_scaled.head()

,Unnamed: 0,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Female,Male,Chicago,Houston,Los Angeles,Miami,New York
0,-1.732033,1.241670,0.651115,0.410606,-0.294289,-1.004329,1.004329,-0.499344,-0.502452,1.997441,-0.500484,-0.497076
1,-1.731999,1.176226,-1.658879,-0.805374,-0.784852,0.995689,-0.995689,-0.499344,-0.502452,-0.500641,-0.500484,2.011763
2,-1.731964,-1.310651,-1.081380,1.009204,1.422681,0.995689,-0.995689,-0.499344,-0.502452,1.997441,-0.500484,-0.497076
3,-1.731930,-0.525321,-1.370129,1.625597,0.173279,0.995689,-0.995689,-0.499344,-0.502452,-0.500641,1.998065,-0.497076
4,-1.731895,0.129120,0.939864,-0.341720,-0.064338,0.995689,-0.995689,-0.499344,-0.502452,-0.500641,1.998065,-0.497076

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2)

In [12]:
from sklearn.linear_model import LogisticRegression

In [15]:
clf = LogisticRegression(random_state=42)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [16]:
print(classification_report(y_test,y_pred,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.51      0.51      0.51     10129
           1       0.50      0.50      0.50      9871

    accuracy                           0.51     20000
   macro avg       0.51      0.51      0.51     20000
weighted avg       0.51      0.51      0.51     20000

In [18]:
import pickle
pickle.dump(clf,open("model.pkl","wb"))